.mosaic
  list-style: none
  margin: 0
  padding: 0
  align-content: baseline
  display: flex
  flex-wrap: wrap

  &-element
    flex: 1
    min-width: 239.5px
    min-height: 239.5px
    aspect-ratio: 1/1
    position: relative

  &-image
    width: 100%
