@import "src/variables"

nav
  display: flex
  flex-direction: row
  align-items: center
  height: $navbar-height
  width: 100%
  z-index: 1000
  justify-content: space-between

  .branding
    display: flex
    flex-direction: row
    align-items: center
    height: 100%
    margin-left: 24px
    gap: 8px

    .logo
      width: 36px
      height: 36px

    .title
      font-weight: 500
      color: pink
      font-size: 26px

  .options
    display: flex
    flex-direction: row
    margin-right: 24px

  .user
    display: flex
    align-items: center
    gap: 8px

    .icon
      width: 36px
      height: 36px

      svg
        font-size: 36px
